html {
    font-size: 27px;
    }
body {
    background-color: #333;
    color: whitesmoke
}
input:in-range {
    background-color: springgreen;
}
input:out-of-range {
    background-color: red;
}
table, th, td {
    border: 1px solid;
    padding: 5px;
}
tbody tr:nth-child(odd) {
    background-color: rgb(70, 70, 7);
}